
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Demo Sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  
    <a routerLink = '/' (click)="drawer.toggle()">
      Home
    </a>
    <br>
    <a routerLink = '/dashboard' (click)="drawer.toggle()">
      Dashboard
    </a>
  </mat-drawer>
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>

  <div class="example-sidenav-content">
    
    <router-outlet mat-app-background></router-outlet>
  </div>

</mat-drawer-container> -->

<!-- <a routerLink = '/dashboard'>Dashboard</a> -->
<app-main-nav></app-main-nav>


<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive Demo App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a routerLink = '/' (click)="snav.togg
        le()">Home</a><br><br>
        <a routerLink = '/dashboard' (click)="snav.toggle()">Dashboard</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
     <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->
