.example-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .example-container > * {
    width: 100%;
  }
  
  /* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.viki {
  width: 50%;
}