<mat-toolbar >Student Info Form</mat-toolbar>


<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Student Info
    </ng-template>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="Student_Name">
        <th mat-header-cell *matHeaderCellDef> Student Name </th>
        <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Register_Number">
        <th mat-header-cell *matHeaderCellDef> Register_Number </th>
        <td mat-cell *matCellDef="let element"> {{element.register_number }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Mobile_Number">
        <th mat-header-cell *matHeaderCellDef> Mobile_Number </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile_number}} </td>
      </ng-container>
    
      <!-- address Column -->
      <!-- <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container> -->
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[4,8,12,16]"></mat-paginator>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Add Info
    </ng-template>
    <mat-card class="mat-conatiner">
      <div class="example-container">
      
        <mat-form-field hintLabel="Max 15 characters">
          <input matInput #input maxlength="15" placeholder="Student Name" type="text" [(ngModel)] = 'info.student_name'>
          <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
        </mat-form-field>
      
        <mat-form-field hintLabel="Max 12 characters">
          <input matInput #input2 maxlength="12" placeholder="Register Number" [(ngModel)] = 'info.register_number'>
          <mat-hint align="end">{{input2.value?.length || 0}}/12</mat-hint>
        </mat-form-field>
      
        <mat-form-field hintLabel="Max 10 characters">
          <input matInput #input3 maxlength="10" placeholder="Mobile Number" [(ngModel)] = 'info.mobile_number'>
          <mat-hint align="end">{{input3.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      
        <!-- <mat-form-field hintLabel="Max 15 characters">
          <input matInput #input4 maxlength="15" placeholder="State" type="text" [(ngModel)] = 'info.address.state'>
          <mat-hint align="end">{{input4.value?.length || 0}}/15</mat-hint>
        </mat-form-field>
      
        <mat-form-field hintLabel="Max 20 characters">
          <input matInput #input4 maxlength="20" placeholder="City" type="text" [(ngModel)] = 'info.address.city'>
          <mat-hint align="end">{{input4.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
      
        <mat-form-field hintLabel="Max 25 characters">
          <input matInput #input4 maxlength="25" placeholder="Village" type="text" [(ngModel)] = 'info.address.village'>
          <mat-hint align="end">{{input4.value?.length || 0}}/25</mat-hint>
        </mat-form-field> -->
      </div>
      <br>
      <button mat-raised-button color="accent" (click)="submit()">Submit</button>
      </mat-card>
      
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Update Info
    </ng-template>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="Student_Name">
        <th mat-header-cell *matHeaderCellDef> Student Name </th>
        <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Register_Number">
        <th mat-header-cell *matHeaderCellDef> Register_Number </th>
        <td mat-cell *matCellDef="let element"> {{element.register_number }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Mobile_Number">
        <th mat-header-cell *matHeaderCellDef> Mobile_Number </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile_number}} </td>
      </ng-container>
    
      <!-- address Column -->
      <!-- <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container> -->
      
      <!-- edit and delete -->
   
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button matTooltip="edit info" color="accent" (click)="change(row._id)">
              <mat-icon >edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
    
    <div *ngIf="update">
      <!-- Content to render when condition is true. -->
      <app-updateinfo [id] = 'this.id'></app-updateinfo>
    </div>

  </mat-tab>
</mat-tab-group>

<!-- practice -->
<!-- <form [formGroup] = "formData" (ngSubmit) = "onClickSubmit(formData.value)">
  <input type="text" placeholder="Enter u r email id" formControlName="emailid">
  <br/>
  <input type="password" placeholder="Enter password" formControlName = "password">
  <br/>
  <input type="submit" value="Log In">
</form> -->